body {
	background-color: lightblue;
	background-size: cover;
	text-align: center;

}

.layer {
	width: 100%;
	height: 100%;
}

.mountain {
 	background: url(../assets/images/background.png) no-repeat 50% 100%;
	background-size: cover;
	width: auto;
	height: 113%;
}

.land {
	background: url(../assets/images/land.png) no-repeat 50% 100%;
	bottom: -10vh;
	background-size: cover;
	position: absolute;
	width: 110%;
	left: -5%;
	height: 115vh;
}

.land2 {
	background: url(../assets/images/2hill.png) no-repeat 50% 100%;
	bottom: -5vh;
	background-size: cover;
	position: absolute;
	width: 105%;
	left: -5%;
	top: 15%;

}

.land3 {
	background: url(../assets/images/1hill.png) no-repeat 50% 100%;
	bottom: -5vh;
	background-size: cover;
	position: absolute;
	width: 105%;
	left: -5%;
	top: 15%;
}

.house {
	background: url(../assets/images/2house.png) no-repeat 50% 100%;
	background-size: cover;
	position: absolute;
	left: -2%;
	right: -2%;
	top: 6%;
	bottom: -7%;
}

.mountain {
	position: absolute;
	width: 105%;
	left: 0%;
	top: 0%;
}

.title em {
	font-style: normal;
	font-size:0.6em;
	color: #d92400;
}

.title {
	color: white;
	font-size: 3em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
	margin-top: -0.7em;
	position: absolute;
	width: 100%;
	top: 42%;
}

.wave {
	-webkit-animation: wave 4s 0.1s infinite linear;
	-moz-animation: wave 4s 0.1s infinite linear;
	animation: wave 4s 0.1s infinite linear;
	background: transparent repeat-x;
	position: absolute;
	width: 300%;
	left: -100%;
	bottom: 0;
	background-size: 40vh 20vh;
	height: 20vh;
}

.wave:after {
	background-color: #10e4e8;
	position: absolute;
	display: block;
	content: "";
	top: 150%;
	left: 0;
}

.wave.plain {
	background-image: url(../assets/images/wave2.png);	
}

.wave.paint {
	background-image: url(../assets/images/wave1.png);
}

.wave.depth-10 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 6s 0.1s infinite linear;
	bottom: -6vh;
	margin: 0px 0px;
}

.wave.depth-20 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 9s 0.1s infinite linear;
	bottom: -3vh;
	margin: 0px 0px;
}

.wave.depth-30 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 8s 0.1s infinite linear;
	bottom: 0vh;
	margin: 0px 0px;
}

.wave.depth-40 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 6s 0.1s infinite linear;
	bottom: 5vh;
	margin: 0px 0px;
}

.wave.depth-50 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 5s 0.1s infinite linear;
	bottom: 8vh;
	margin: 0px 0px;
}

.wave.depth-60 {
	-webkit-animation: wave 8s 0.1s infinite linear;
	-moz-animation: wave 8s 0.1s infinite linear;
	animation: wave 7s 0.1s infinite linear;
	bottom: 12vh;
	margin: 0px 0px;
}

@-webkit-keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@-moz-keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@-ms-keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@keyframes wave {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

@keyframes cloud {
	0% {
		-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	}
}

.cloud {
	background-image: url(../assets/images/cloud-1.png);
	background-size: cover;
	position: absolute;
	height: 11.3vh;
	width: 25.4vh;
	color: black;
}
.cloud span{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.cloud-1 {
	left: 3%;
	top: 6%;	
}


.cloud-2 {
	left: 20%;
	top: 10%;	
}

.cloud-3 {
	left: 50%;
	top: 2%;	
}

.cloud-4 {
	left: 70%;
	top: 4%;	
}

.cloud-5 {
	left: 85%;
	top: 8%;	
}

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sky {
  height: 480px;
  background: #007fd5;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-animation: sky_background 50s ease-out infinite;
  -moz-animation: sky_background 50s ease-out infinite;
  -o-animation: sky_background 50s ease-out infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.moon {
  background: url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
  position: absolute;
  left: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: moon 50s linear infinite;
  -moz-animation: moon 50s linear infinite;
  -o-animation: moon 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_one {
  background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_one 50s linear infinite;
  -moz-animation: cloud_one 50s linear infinite;
  -o-animation: cloud_one 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_two {
  background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_two 75s linear infinite;
  -moz-animation: cloud_two 75s linear infinite;
  -o-animation: cloud_two 75s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

.clouds_three {
  background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_three 100s linear infinite;
  -moz-animation: cloud_three 100s linear infinite;
  -o-animation: cloud_three 100s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes sky_background {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}

@-webkit-keyframes moon {
  0% {
    opacity: 0;
    left: -200% -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1);
    left: 0% bottom: 250px;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    bottom: 500px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@-webkit-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-webkit-keyframes cloud_three {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes sky_background {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}

@-moz-keyframes moon {
  0% {
    opacity: 0;
    left: -200% -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1);
    left: 0% bottom: 250px;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    bottom: 500px;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@-moz-keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_two {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}

@-moz-keyframes cloud_three {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}
